// scss setup includes
$primary-color: #1f253d;
$secondary-color: #ea7a3b;
$white: #ffffff;
@mixin section-padding {
	padding-top: 45px;
	padding-bottom: 45px;
}
@mixin h2 {
	color: $white;
	font-size: 30px;
	line-height: 60px;
	font-family: Futura;
}

@mixin p {
	color: $white;
	font-size: 16px;
	line-height: 30px;
	font-family: Poppins;
	margin-bottom: 20px;
}

@mixin h3 {
	font-size: 24px;
	line-height: 60px;
	font-family: Futura;
	padding: 10px 0;
	color: $secondary-color;
	margin: 0 !important;
}

@mixin p-2 {
	font-size: 16px;
	line-height: 30px;
	font-family: Poppins;
	padding: 10px 0;
	color: #828282;
}

// custom font install

@font-face {
	font-family: "Futura";
	src: url("../fonts/futura.eot"); /* IE9 Compat Modes */
	src: url("../fonts/futura.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/futura.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../fonts/futura.woff") format("woff"),
		/* Pretty Modern Browsers */ url("../fonts/futura.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/futura.svg#../fonts/futura")
			format("svg"); /* Legacy iOS */
}

// font-family: 'Poppins', sans-serif;

// Basic setup

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
}

.navbar-area {
	background: $primary-color;
	border-bottom: 1px solid $white;

	.navbar-brand {
		font-size: 24px;
		font-family: Futura;
		color: $white;
		line-height: 24px;
	}

	.navbar-brand:hover {
		color: $white;
	}
	.nav {
		.nav-item {
			.nav-link {
				color: $white;
				font-family: Poppins;
				font-weight: regular;
				line-height: 24px;
				margin-right: 45px;
			}
		}
	}
	.nav-2 {
		.nav-item {
			.nav-link {
				color: $white;
				font-family: Poppins;
				font-weight: regular;
				line-height: 24px;
				margin-right: 30px;
			}
		}
	}
}
// header area design
.header {
	background: $primary-color;
  margin-top: 55px;

	h1 {
		font-size: 36px;
		font-family: Futura;
		line-height: 50px;
		color: $white;
		@include section-padding;
	}

	p {
		@include section-padding;
		color: $white;
		font-size: 18px;
		line-height: 36px;
		width: 70%;
		font-family: Poppins;
	}
}

.product-1 {
	.nav-tabs .nav-link.active {
		border-bottom: none;
		box-shadow: inset 0px 6px #54c4c3;
		transition: 0.3s;
		color: $secondary-color;
	}
	@include section-padding;
	background: $primary-color;

	h2 {
		@include h2;
	}
	.w-50 {
		@include p;
	}
	.nav-item {
		margin-bottom: -1px;
	}
	.nav-link {
		background: #f4f4f4;
		color: $secondary-color;
		font-size: 16px;
		line-height: 20px;
		font-family: Futura;
		padding: 15px;
		border: 0px;
	}

	h3 {
		color: $secondary-color;
		font-size: 18px;
		line-height: 60px;
		font-family: futura;
	}
	p {
		font-size: 15px;
		line-height: 24px;
		color: #828282;
		font-family: Poppins;
		width: 89%;
	}

	.r-s {
		img {
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}

		i {
			color: #54c4c3;
		}
	}
	table {
		width: 94%;
		margin-top: 30px;
		margin-bottom: 24px;
		margin-left: 15px;
	}
}

.product-2 {
	.nav-tabs .nav-link.active {
		border-bottom: none;
		box-shadow: inset 0px 6px #54c4c3;
		transition: 0.3s;
		color: $secondary-color;
	}
	@include section-padding;
	background: $primary-color;

	h2 {
		@include h2;
	}
	.w-50 {
		@include p;
	}
	.nav-item {
		margin-bottom: -1px;
	}
	.nav-link {
		background: #f4f4f4;
		color: $secondary-color;
		font-size: 16px;
		line-height: 20px;
		font-family: Futura;
		padding: 15px;
		border: 0px;
	}

	h3 {
		color: $secondary-color;
		font-size: 18px;
		line-height: 60px;
		font-family: futura;
	}
	p {
		font-size: 15px;
		line-height: 24px;
		color: #828282;
		font-family: Poppins;
		width: 89%;
	}

	.r-s {
		img {
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}

		i {
			color: #54c4c3;
		}
	}
	table {
		width: 94%;
		margin-top: 30px;
		margin-bottom: 24px;
		margin-left: 15px;
	}
}

.table-bordered thead td,
.table-bordered thead th {
	border-bottom: none;
}

.learn {
	background: $primary-color;
	@include section-padding;

	h2 {
		@include h2;
	}
	.w-50 {
		@include p;
	}

	.card {
		border-radius: 20px;
		margin-top: 20px;

		.card-body {
			padding: 15px 25px;
			img {
				margin-top: 20px;
			}
			h3 {
				@include h3;
			}
			p {
				@include p-2;
			}
		}
	}
}

.review {
	@include section-padding;
	background: $primary-color;

	h2 {
		@include h2;
	}
	.w-50 {
		@include p;
	}

	.bg-img {
		background: url("../img/earth-bg.png") center;
		background-size: cover;
		height: 60vh;
		.card {
			background: rgba(77, 181, 180, 0.6);
			width: 59%;
			margin: 0 auto;
			padding: 30px;
			margin-bottom: 50px;

			.card-text {
				@include p;
			}
			p {
				@include p;
				margin-bottom: 0;
			}
			img {
				border-radius: 50%;
				margin-bottom: 15px;
			}
		}
	}

	.carousel-indicators {
		bottom: -30px;

		li {
			width: 10px;
			height: 10px;
			margin-right: 7px;
			margin-left: 7px;
			border-radius: 50%;
			border: none !important;
		}

		.active {
			background: $secondary-color;
		}
	}
}

.price{
  @include section-padding;
  background: $primary-color;

  h2{
    @include h2;
  }
  .w-50{
    @include p;
  }

  .card{
    border-radius: 20px;
    border:none;
    margin-top:20px;
    .card-header{
      background: #f3f3f3;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      h4{
        font-size: 22px;
        line-height: 30px;
        font-family: Futura;
      }
      .text-dark{
        color: #000 !important;
      }
      h6{
        font-size: 48px;
        line-height: 30px;
        font-family: Futura;
        margin:17px 0;

        .short{
          font-size: 18px;
          font-family: Poppins;
        }
      }

    }

    .card-header-2 {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      background: #4db5b4;
    }
      .list-group{
        margin:20px 0;

        .list-group-item{
          border: none !important;
          font-size: 18px;
          line-height: 44px;
          color: #787878;
          padding: 0;
        }
    }

    .rr-bg{
      background: #54c4c3;
    }
    .btn-primary{
      background: $secondary-color;
      border:none;
      padding: 0 45px;
      font-size: 18px;
      font-family: Futura;
      line-height: 60px;
      border-radius: 20px;
    }

    .btn-danger{
      background: $white;
      border:none;
      padding: 0 45px;
      font-size: 18px;
      font-family: Futura;
      line-height: 60px;
      border-radius: 20px;
    }


  }
}

.contact{
  @include section-padding;
  background: $primary-color;

  .card{
    border-radius: 20px;
    border: none;

    .card-body{
      background: #54c4c3;
border-radius: 20px;
border:none;
      .card-title{
        font-size: 24px;
        line-height: 42px;
        font-family: Futura;
      }

      .btn-primary{
        background: $secondary-color;
        border:none;
        padding: 0 45px;
        font-size: 18px;
        font-family: Futura;
        line-height: 60px;
        border-radius: 20px;
      }
    }
  }
}

.footer{
  background: #273444;
  p{
    font-size: 18px;
    line-height: 30px;
    font-family: Poppins;
    margin-bottom: 0;
  }
}
